@import url("/styles/header.css");
@import url("/styles/navbar.css");
@import url("/styles/diversity.css");
@import url("/styles/sights.css");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Merriweather", serif;
}

main {
    color: #212529;
}
