@import url("/styles/header.css");
@import url("/styles/navbar.css");
@import url("/styles/diversity.css");
@import url("/styles/carousel.css");
@import url("/styles/sights.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Merriweather", serif;
    background-color: #c7d2fe;
    color: #212529;

}


h1 {
    font-size: 72px;
}

h2 {
    font-size: 40px;
    text-align: center;
}

img {
    border-radius: 10px;
}

.section {
    border-radius: 20px;
    width: 1200px;
    margin: 0 auto;
    padding: 50px;
    background-color: #dbe4ff;
    margin-top: 80px;
}