.sights {
    /* margin-bottom: 500px; */
}

.sights-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 50px;
   
}

.sights-card {
    /* text-align: center; */

    background-color: #faedcd;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

.sights-card h3 {
    padding: 20px;
}

.sights-card-text {
    padding: 0 20px;
}

.sights-card-text p {
    margin-bottom: 24px;
    line-height: 1.6;
    
}

.sights-card-img {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
       
}

.sights-link {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 20px;
 
}

.sights-btn {
    /* width: 200px;
    height: 50px; */
    align-self: center;
    font-size: 16px;
    font-family: inherit;
    padding: 20px 40px;
    border: 2px solid darkgray;
    border-radius: 15px;
    
}

.sights-btn:hover {
    background-color: lightgrey;
    cursor: pointer;
}
